body {
    font-family: sans-serif;
}
header{
    background-color: #DDA0DD;
    padding: 20px;
    color:#FFF0F5;
    font-size: 20px;
}

header img{
    margin: 10px;
}

header a{
    background-color: #FF69B4;
    color:#FFF8DC;
    padding: 10px;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 40px;
    color:#FF00FF;
}
